*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html, body {
  height: 100%;
  font-family: 'Lexend Deca', 'Arial', 'Helvetica', 'sans-serif';
  background-color: $bg-white;
}

input {
  background-color: $normal;
  border-radius: 5px;
  width: 100%;
  padding: 6px 12px;
  color: $secundary;
}

fieldset {
  border: none;
  padding: 0;
  margin-bottom: 20px;
}

small {
  color: $error;
}

// label {
//   display: inline-block;
//   font-size: 12px;
// }
