main { 
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main form {
  width: 450px;
  background-color: $secundary;
  padding: 40px 80px;
  padding-bottom: 90px;
  border-radius: 10px;
  @include elevation(0.25);
}

h1 {
  font-weight: 400;
  font-size: 60px;
  text-align: center;
  margin-bottom: 30px;
}